// svg-url($svg)
//
// Encodes an SVG to be included in a CSS declaration. (source: https://codepen.io/tigt/post/optimizing-svgs-in-data-uris)
//
// @requires  - `@str-replace`
// @returns   - encoded svg data URI
//
// Styleguide 10.svg-url

@function svg-url($svg) {

  $encoded: '';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E');
    $chunk: str-replace($chunk, '&', '%26');
    $chunk: str-replace($chunk, '#', '%23');
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}
