# build artifacts
www/

# secrets and errors
.env
*.log
npm-debug.log*

# macOS related files
.DS_Store
Icon?

# dependency directories
node_modules/

# temporary files
.npm

# cache and maps
.eslintcache
.cache
*.css.map

# deployment Files
.netlify

# 711ty caches responsive images
# Don't commit otherwise your build won't generate any images
.seven11ty.cache
