@charset 'utf-8';

// ===========================================================
// ==[ slay.sh ]==============================================
// ===========================================================

@import '00-libs/.libs';
@import '01-settings/.settings';
@import '02-tools/.tools';
@import '03-generic/.generic';
@import '04-base/.base';
@import '05-objects/.objects';
@import '06-components/.components';
@import '07-states/.states';
@import '08-utilities/.utilities';
@import '02-tools/fonts';

// NOTE: Do not change the order of the imports in this file

:focus {
  outline: thin solid yellow;
  outline-offset: .25rem;
}

a {
  color: black;
  text-decoration: underline;
  position: relative;
  z-index: 0;
  &:hover, &:focus {

  }
  &:visited {
    
  }
}


h1, h2, h3, h4, h5, h6,
code, kbd, pre, samp, tt {
  font-weight: normal;
}

.twitter-follow-button {
	margin-top: 1rem;
	@media screen and (min-width: 800px) {
		margin-top: 0;
		vertical-align: middle;
		float: right;	
	}
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	font-family: "Inconsolata", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}


*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

.banner {
	height: 55px;
	background-color: black;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 10vw;
	span { float: right; }
	a {
		color: yellow;
		text-decoration: underline;
	}
}

header {
	margin-top: -11.5rem;
	text-align: center;
	font-size: 1rem;
	> :nth-child(2) {
		font-size: 1.3rem;
    margin: 1rem 0;
	}
}

main {
  margin: 15rem auto 0;
  width: 90vw;
	border: 1px solid #000;
	padding: 2rem;
	max-width: 60rem;
	@media screen and (min-width: 800px) {
		padding: 3rem 3rem 3rem 6rem;
		width: 80vw;
		margin-top: 13rem;
	}
}

footer {
  margin: 1rem auto;
  width: 90vw;
	@media screen and (min-width: 800px) {
		width: 80vw;
	}
}

p,
ul {
	line-height: 1.5;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 2;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

h2 {
	margin: 0;
	display: inline-block;
	position: relative;
	z-index: 0;
	margin: 2rem 0 2rem -2rem;
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
	}
	&::before {
		background-color: #F6E98A;
		top: -15px;
		left: -15px;
		right: -10px;
		bottom: -10px;
	}
}

.button {
	position: relative;
    width: 250px;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #333;
    border: 3px solid #333;
    box-shadow: inset 3px 3px 0 #fff;
    background-color: #F6E98A;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
	cursor: pointer;
	background-color: rgb(231, 213, 73);
	box-shadow: inset 3px 3px 0 #fff, 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.tagline {
	text-align: center;
	font-size: 2rem;
	margin: 2rem auto;
}

.hot-sauce {
	position: relative;
	svg {
		position: absolute;
    z-index: 1;
    top: -1.5rem;
		right: -1.5rem;
    transform: scaleX(-1);
	}
}

code {
	background: #272822;
	padding: 3px;
	overflow: auto;
	border-radius: 0.3em;
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	white-space: nowrap;
}

small {
	display: inline-block;
	text-align: center;
	@media screen and (min-width: 800px) {
		display: inline;
		text-align: left;
	}
}


/* github octocat icon */
/* Original source from here: */
/* https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
  }
  
  @keyframes octocat-wave {
	0%,
	100% {
	  transform: rotate(0);
	}
	20%,
	60% {
	  transform: rotate(-25deg);
	}
	40%,
	80% {
	  transform: rotate(10deg);
	}
  }
  
  @media (max-width:500px) {
	.github-corner:hover .octo-arm {
	  animation: none;
	}
	.github-corner .octo-arm {
	  animation: octocat-wave 560ms ease-in-out;
	}
  }
