<head>
	{# Page title format #}
	{% set pageTitle = title + ' | ' + site.title %}
	{# Remove any title duplication #}
	{% if title === site.title %} {% set pageTitle = title %} {% endif %}
	{# URL formats #}
	{% set thisUrl = env.baseUrl + page.url %}

	{# metagen plugin output #}
	{% metagen
		title = site.title + ' | slay.sh',
		desc = site.description,
		url = thisUrl,
		img = env.baseUrl + site.og.image.rel,
		img_alt = site.og.image.alt,
		twitter_card_type = "summary_large_image",
		twitter_handle = site.author.handle,
		name = site.author.name,
		comments = false,
		locale = site.og.locale,
		generator = eleventy.generator,
		robots = site.robots,
		css = ['/assets/styles/site.css' | url]
	%}

	{% if site.identity %}
		{% for item in site.identity %}
		<link rel="{{ item.rel }}" href="{{ item.url }}">
		{% endfor %}
	{% endif %}

	<meta name="theme-color" content="{{ site.themeColor }}"/>
	<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
	<link rel="manifest" href="/manifest.webmanifest">

	<link rel="icon" href={{ site.favicon }} sizes="any">
	<link rel="icon" href={{ site.icon }} type="image/svg+xml">
	<link rel="apple-touch-icon" href={{ site.touch }}>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,400;1,9..40,700&family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">

	{% if env.isProduction %}
	<script type="text/javascript">
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/service-worker.js')
			.then(function() {
				console.log("ServiceWorker has been registered!");
			})
			.catch(console.error);
		}
	</script>
	{% endif %}
</head>