// font-smoothing
//
// Adds font smoothing to rendered typefaces
//
// usage - `@include font-smoothing`
// default - `on`

@mixin font-smoothing($value: on) {
  @if $value == on {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  } @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
