// show-on-focus
//
// Show a hidden element on focus.
//
// usage - `@include show-on-focus`

@mixin show-on-focus {
  display: block;
  left: -1000em;
  width: 0;
  height: 0;
  overflow: hidden;
  &:focus {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 1em;
    overflow: visible;
    z-index: z(splash)+1;
  }
}
