// tooltip($text-color, $border-color, $bg-color)
//
// Create a tooltip that will fill 100% of its container.
// The tooltip is designed to sit beneath an element.
//
// usage - `@include tooltip($text-color)`
// $text-color - variable, color value
// $border-color - defaults to `$iron`
// $bg-color - defaults to `$white`

@mixin tooltip($text-color, $border-color: $iron, $bg-color: $white) {
  display: block;
  position: relative;
  margin: 7px 0 5px;
  padding: 5px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background: $bg-color;
  color: $text-color;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2em;
  &::before, &::after {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0;
    border-style: solid;
    border-color: transparent;
    content: '';
  }
  &::before {
    top: -16px;
    left: 44%;
    border-width: 8px;
    border-bottom-color: $border-color;
  }
  &::after {
    top: -14px;
    left: calc(44% + 1px);
    border-width: 7px;
    border-bottom-color: $bg-color;
  }
}
