<footer role="contentinfo">
    <small>
        &copy; 2018 + Made with <span class="emoji">💻 </span> by Mina + <a href="https://github.com/minamarkham/formation" target="_blank">View source</a>
        <a class="twitter-follow-button" data-show-screen-name="true" data-show-count="true" href="https://twitter.com/MinaMarkham">Follow @MinaMarkham</a>
    </small>
</footer>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="/js/prism.js"></script>
