<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Beyoncé-inspired macOS setup script">

  <meta property="og:url" content="http://slay.sh"/>
  <meta property="og:title" content="Formation Script"/>
  <meta property="og:description" content="Beyoncé-inspired macOS setup script"/>
  <meta property="og:site_name" content="slay.sh"/>
  <meta property="og:image" content="http://slay.sh/images/unfurl.jpg"/>

  <!-— twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="slay.sh" />
  <meta name="twitter:title" value="Formation" />
  <meta name="twitter:description" value="Beyoncé-inspired macOS setup script" />
  <meta name="twitter:image" content="http://slay.sh/images/unfurl.jpg" />
  <meta name="twitter:url" value="http://www.slay.sh/" />

  <link rel="stylesheet" href="https://use.typekit.net/fxo6cgs.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/prism.css">
  <title>Formation | slay.sh</title>
</head>
